* {
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

#fizzbuzz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #640606ba;
  width: 215px;
  height: 215px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
  color: whitesmoke;
  font-size: 30px;
  font-family: fantasy;
}

.circle:nth-child(3n) {
  background-color: #593766;
}

.circle:nth-child(5n) {
  background-color: #35354d;
}

.circle:nth-child(15n) {
  background-color: #ba8790;
}

.circle:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}


